.heading {
  background-color: black;
    color: rgb(255, 0, 230);
    font-size: 35px;
    text-align: center;
  }
.paragraph{
  color: rgb(184, 181, 42);
  font-size: 45px;
  text-align: center;
}  
  
  